<div class="search-container">
  <h1 class="search-heading">What are you looking for?</h1>

  <input type="text" id="search-box" placeholder="Type to search..." />

  <div class="button-wrapper">
    <a href="/search_queries/analytics" class="trends-button">See Search Trends ➡️</a>
  </div>
</div>

<%= stylesheet_link_tag "search", media: "all" %>
<%= javascript_importmap_tags %>
